<form action="/admin/add-banner" method="POST" >
    <div class="mb-3">
        <label for="Offer name" class="form-label">Offer name</label>
        <input required type="text"  name="name" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="Offer name" class="form-label">Header 1</label>
        <input required type="text"  name="header1" class="form-control" id="header1">
    </div>
    <div class="mb-3">
        <label for="Offer name" class="form-label">Header 2</label>
        <input required type="text"  name="header2" class="form-control" id="header2">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" required name="description" class="form-control" id="description">
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" required  name="link" class="form-control" id="link">
    </div>
    <div class="mb-3">
        <label for="images">Image</label>
        <input type="file" required name="image" id="image" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>