<div class=" col-lg-8" style="margin: 5rem 15rem 20rem 10rem; border: 1px solid #ccc; padding: 3rem;">
    <form action="/add-address" method="post">
        <div class="form-group">
            <input type="text" required="" name="name" placeholder=" Name *">
        </div>

        <div class="form-group">
            <input type="text" name="address" required="" placeholder="Office/House No *">
        </div>

        <div class="form-group">
            <input required="" type="text" name="city" placeholder="City / Town *">
        </div>

        <div class="form-group">
            <input required="" type="text" name="district" placeholder="District *">
        </div>
        
        <div class="form-group">
            <input required="" type="text" name="state" placeholder="state *">
        </div>

        <div class="form-group">
            <input required="" type="text" name="zipcode" placeholder="Postcode / ZIP *">
        </div>
        <div class="form-group">
            <input required="" type="text" id="phone" name="phone" placeholder="Phone *"
                onkeyup="return validateMobile()">
            <span id="phone-error" style="color: red; font-size: 12px; margin-top: 5px;"></span>
        </div>
        <div style="margin-left: 50rem;">
            <button type="submit" >Save</button>
        </div>
    </form>
</div>

<script>

    function validateMobile() {
        const regMobile = /^[1-9]{1}\d{9}$/
        const mobile = document.getElementById('phone').value
        if (!regMobile.test(mobile)) {
            document.getElementById('phone-error').innerHTML = 'Enter Valid Mobile No'
            return false
        } else {
            document.getElementById('phone-error').innerHTML = ''
            return true
        }

    }

    // eliminate string in number input field
    const mobileInput = document.getElementById('phone');
    mobileInput.addEventListener('input', event => {
        const input = event.target.value;
        const numericInput = input.replace(/[^0-9]/g, '');
        event.target.value = numericInput;
    })


</script>


<style>
    .form-group {
        margin-bottom: 2rem;
        
    }
</style>